<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grocherie</title>

  {{!-- favicon reference --}}
  <link rel="shortcut icon" type="image/png" href="images/grocherie-fav.png"/>

  {{!-- semantic ui files and jQuery cdn --}}
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>

  {{!-- websocket js library --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

  {{!-- customized css styles and javascript --}}
  <script src="/js/dashboard.js"></script>
  <script src="/js/landingLoginSignup.js"></script>

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

</head>

<body>
  {{{body}}}
</body>

</html>
