<div id="init-body">

  <div class="jumbotron mt-4">
    <h1 id="four-oh-four">404 Not Found</h1>
    <div class="rotate">
      <img id="four-image" src="images/grocherie-logo.png" style="width:50%"alt="grocherie-logo">
    </div>
    <a href="/">← Back To Home</a>
  </div>

</div>
