<div id="dash-body">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Manage</a>
        <a class="item" data-tab="second">Shop</a>
        {{!-- <a class="item" data-tab="third">Wallet</a> --}}
    </div>
    <br><br>
    <div class="container">

        {{!-- MANAGE TAB --}}
        <div class="ui bottom attached tab segment active" data-tab="first">
            <h1>Manage Lists</h1>

            <div class="ui styled accordion">
                <div class="title">
                    <span class="ui form" ><input type="text" id="new-list-input" placeholder="Add new list..."></input>
                        <span class="new-list-button" data-id="new-list"><i class="large file icon"></i></i></span>
                    </span>
                </div>
            </div>

            <div class="ui styled accordion">
              {{> lists/list-block }}
            </div>

        </div>

    {{!-- SHOP TAB --}}
    <div class="ui bottom tab segment" data-tab="second">
        <h1> Go Shopping </h1>
        <div class="ui styled accordion">
        {{> lists/task-block }}
    </div>

    <div style="margin-top:20px;text-align:center">
        <div class="ui buttons">
            <button class="ui negative button">Cancel</button>
            <div class="or"></div>
            <button class="ui button">Checkout</button>
        </div>
    </div>
</div>

{{!-- <div class="ui bottom attached tab segment" data-tab="third">
    Wallet
</div> --}}

<script>

var socket = io({transports: ['websocket'], upgrade: false});
socket.on("task-create", function(message) {
    console.log(message);
    $("#appended-tasks").append(
`
<div>
    <span class="content" style="padding-left: 0px">${message.text}</span>
    <span class="delete-item-button" style="float:right" data-id=${message.id}><i class="red large minus square icon"></i></span>
    <p style="font-size:12px">Added by: ${message.nickName}</p>
</div><hr>
`
    );
})

socket.on("task-update", function(message) {
    console.log(message);
})

socket.on("task-delete", function(message) {
    console.log(message);
})

</script>
