<div id="init-body">
  <div>
      <div>
          <img id="landing-title" src="images/grocherie-text.png" alt="grocherie-logo"><br>
          <img id="landing-logo" class="rotate-scale-up" src="images/grocherie-logo.png" alt="grocherie-logo">
      </div>
      <div style="max-width:450px;margin:auto">
        <div id="login-btn"  class="ui fluid large teal submit button" style="display:inline-block;width:90%;margin:10px auto;">Login</div>
        <div id="signup-btn" class="ui fluid large teal submit button" style="display:inline-block;width:90%;margin:10px auto;">Sign Up</div>
      </div>
  </div>
</div>