<div style="text-align:center;margin-top:120px">
  <div>
      <div>
          <img style="width:90%; max-width:450px" src="images/grocherie-text.png" alt="grocherie-logo"><br>
          <img style="width:200px" src="images/grocherie-logo.png" alt="grocherie-logo">
      </div>
      <div style="max-width:450px;margin:auto">
        <div id="login-btn"  class="ui fluid large teal submit button" style="display:inline-block;width:90%;margin:10px auto;">Login</div>
        <div id="signup-btn" class="ui fluid large teal submit button" style="display:inline-block;width:90%;margin:10px auto;">Sign Up</div>
      </div>
  </div>
</div>

<script type="text/javascript">
$("#login-btn").click(function() {
    console.log($(this).data("id"));
    window.location = "login";
});

$("#signup-btn").click(function() {
    console.log($(this).data("id"));
    window.location = "signup";
});

</script>
