<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Manage</a>
    <a class="item" data-tab="second">Shop</a>
    <a class="item" data-tab="third">Wallet</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="first">
    <h1>Manage</h1>

    <div class="ui styled accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            ROOMATES
        </div>
        <div class="active content">
            <p>Fruit Loops Cereal</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            OFFICE
        </div>
        <div class="content">
            <p>Epson Printer</p>
        </div>
    </div>
</div>

<div class="ui bottom attached tab segment" data-tab="second">
  <h1> Pick a list! </h1>
  <div class="ui styled accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        FAMILY
    </div>

    <div class="content">
      <div class="ui middle aligned divided list">

        {{#each examples}}
        <div class="item">
          <div class="right floated content">
            <div class="ui checkbox">
              <input type="checkbox" name="example">
              <label></label>
            </div>
          </div>
          <div class="content">
            {{this.text}}
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>

<div class="ui bottom attached tab segment" data-tab="third">
    Wallet
</div>

<script type="text/javascript">
$('.checkbox').on('click', function(event){
  console.log("checking");
});

$('.menu .item')
    .tab()
;

$('.ui.accordion')
    .accordion()
;
</script>
